html,
body,
#outer-container {
  height: 100%;
  width: 100%;
  background: #1d4e89;
  margin: 0;
}
#outer-container {
  display: flex;
  flex-direction: column;
}
#title {
  text-align: center;
  color: white;
}
#game-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f79256;
  padding: 2rem;
}
#cpu-container {
  flex: 1;
}
.selection-container {
  display: flex;
  align-self: flex-start;
  gap: 5rem;
  margin: 0 auto;
}
.cpu-selection,
.selection {
  padding: 1rem;
  border-radius: 10px;
  font-size: 5rem;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid #fbd1a2;
  background: white;
}
.selection {
  cursor: pointer;
}
.cpu-selection {
  cursor: default;
}
.selection:hover {
  transform: scale(1.1);
}
.life-selection-container {
  display: flex;
  gap: 1rem;
}
.life-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 2rem;
}
/* Phone */
@media only screen and (max-width: 600px) {
  .selection,
  .cpu-selection {
    font-size: 2rem;
  }
  .life-container {
    font-size: 1rem;
  }
  .selection-container {
    gap: 1rem;
  }
}
